*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Courier;
}

.header{
    height: 10vh;
    width: 100%;
    background-color: black;
    /* border: 2px solid black; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8vw;
}
.nav-links{
    height: 4vw;
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-right: 12vw ;
}
.nav-links a{
    text-decoration: none;
    font-size: 1.8vw;
    color:white;
    padding: 0.6vw;
    border-radius: 0.5vw;
    transition-duration: 300ms;
}
.nav-links a:hover{
    color: rgba(18, 160, 221, 0.785);
    border: 1px rgba(18, 160, 221, 0.785) solid;
}

.main{
    height: 75vh;
    padding: 2vw;
    width: 100%;
    background-color:rgba(18, 160, 221, 0.785);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    
}
.outer-box{
    /* height: 40vw; */
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.217);
    border-radius: 2vw;
    padding: 2vw;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.114);
}
.input-div{
    height: 6vw;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.temrature-div{
    height: 10vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;

}
.input-div input{
    height: 4vw;
    width: 20vw;
    border: none;
    outline: none;
    font-size: 1.8vw;
    border-radius: 2vw;
    padding-left: 2vw;
}
.input-div button{
    height: 4vw;
    padding: 1vw;
    border: none;
    cursor: pointer;
    border-radius: 2vw;
    font-size: 1.8vw;
}
.temrature-div{
        font-size: 3vw;
        height: 15vw;
}
.output-extra{
    margin-top: 2vw;
    height: 6vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}
.output-extra div{
    height: 3vw;
    padding: 0.6vw;
    background-color: white;
    color: rgb(17, 17, 17);
    border-radius: 0.2vw;
    font-size: 1.6vw;

}
.extra-details{
    height: 90vh;
    width: 100%;
    background-color: white;
}