*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outerbox{
    width: 98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
    background-color: #F2EAD3;
}
.innerbox{
    /* visibility: hidden; */
    width: 80%;
    /* border: 2px solid gold; */
    box-shadow: 0px 0px 15px rgb(138, 138, 138);
    border-radius: 20px;
    background-color: #F9F5F0;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2vw;
}
.visiblity{
    visibility: hidden;
}
.imgdiv{
    /* height: 30vw; */
    width: 100%;
    /* background-color: aqua;  */
}
.ingrediants, .recipee, .youtubelink{
    width: 100%;
    padding: 2vw;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #F4991A;
    color: #F9F5F0;
    /* box-shadow: 0 0 15px rgb(145, 145, 145); */

}
.youtubelink{
    text-align: center;
}
#recipeename{
    color: #344F1F;
    /* height: 10vw; */
}
.btn{
    padding: 1.5vw;
    border: none;
    border-radius: 0.5vw;
    color: white;
    font-size: 20px;
    margin: 10px;
    background-color: #F4991A;
}
li{
    margin-left: 2vw;
}
a{
    text-decoration: none;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(189, 133, 43);
    transition-duration: 1s;
    color: white;
}
a:hover{

    background-color: white;
    color: #F4991A;

}

@media (max-width : 800px){
    .innerbox{
        width: 90%;
    }
}

@media (max-width : 500px){
    .innerbox{
        width: 95%;
    }
}